<div class="movie">
  <div class="thumb">
     <img src="<%= movie.thumb_url %>" /> 
  </div>
  <div class="detail">
    <h2><%= movie.title %></h2>
    <p class="summary"><%= movie.summary %></p>
  </div>
</div>